<ul>
<% @users.each do |user| %>
    <li><a href='/users/<%= user.id %>'><%= user.full_name %></a></li>
<% end %>
</ul>

<p><a href='/users'>All Users</a></p>





<p><small>Sinatra, Ruby, erb, sass</small></p>